<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pak.mapper.BoardMapper">


	<insert id="enroll">

		insert into psm_board(title, content, writer) values (#{title}, #{content}, #{writer})

	</insert>
 
 	<select id="getList" resultType="com.pak.model.BoardVO">
 	
 	select * from psm_board;
 	
 	</select>
 
 	<select id="getPage" resultType="com.pak.model.BoardVO">
    
        select * from psm_board where bno = #{bno}
    
    </select>
    
    <update id="modify">
    
    update psm_board set title =  #{title}, content = #{content}, updatedate = now() where bno = #{bno}
    
    </update>
    
    <delete id="delete">
    
    delete from psm_board where bno = #{bno}
    
    </delete>
 
 	<select id="getListPaging" resultType="com.pak.model.BoardVO">
 	
 	 select * from (
                select bno, title, writer, regdate, updatedate  
                from psm_board
                <if test="keyword != null">
                where title like concat('%', #{keyword},'%' )
                </if>
                 order by bno asc)
                  as T1 
        <!-- limit ((${pageNum}-1)*${amount}), ${amount} -->
        limit #{skip},#{amount}
 	
 	</select>
 
 	<select id="getTotal" resultType="int">
 	
 	select count(*) from psm_board
 	
 	<if test="keyword != null">
 	where title like concat('%', #{keyword},'%' )
 	
 	</if>
 	
 	</select>
 
 
  </mapper>